<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nestjs SocketIO</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="/ws/socket.io.js"></script>
</head>
<body>
<div id="app" class="container">
  <v-app app>
    <v-snackbar
      v-model="flashBar"
      :bottom="false"
      vertical
      :timeout="3000"
    >
      {{ flashBarText }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="pink"
          text
          v-bind="attrs"
          @click="flashBar = false"
        >Close</v-btn>
      </template>
    </v-snackbar>
    <v-app-bar color="blue" app>
      <v-toolbar-title class="white--text">{{ title }}</v-toolbar-title>
    </v-app-bar>
    <v-container class="fill-height" style="padding: 80px 0 160px 0 !important; height: 100vh !important;">
      <v-row
        v-if="isAuthenticated"
        class="fill-height"
        align="start"
        justify="center"
        style="overflow-x: hidden; overflow-y: auto"
      >
        <v-col sm="6">
          <div
            v-for="(item, index) in messages"
            :key="index"
            class="d-flex flex-start align-center my-2"
          >
            <v-alert
              border="left"
              icon="mdi-account"
              text
              dense
              prominent
              :type="userData.id === item.authorId ? 'info' : 'success'"
            >
              <p style="margin: 0; font-size: 18px;">
                <b style="text-transform: uppercase">{{ item.author.name }}:</b> {{ item.text }}
                <v-btn
                  v-if="!!item.fileUrl"
                  depressed
                  rounded
                  dark
                  color="secondary"
                  :href="item.fileUrl"
                  target='_blank'
                >FILE</v-btn>
              </p>
            </v-alert>
          </div>
        </v-col>
      </v-row>
      <v-row
        v-else
        class="fill-height pa-14"
        align="start"
        justify="center"
      >
        <v-col sm="4">
          <v-tabs
            v-model="tab"
            background-color="transparent"
            color="basil"
            grow
          >
            <v-tab key="login">login</v-tab>
            <v-tab key="registration">registration</v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item key='login'>
              <v-card color="basil" flat>
                <v-card-text>
                  <v-form
                    ref="loginForm"
                    v-model="loginFormValid"
                    lazy-validation
                  >
                    <v-text-field
                      v-model="loginForm.username"
                      :disabled='formDisabled'
                      :rules="formRules"
                      label="Логин"
                      required
                    ></v-text-field>
                    <v-text-field
                      v-model="loginForm.password"
                      :disabled='formDisabled'
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      :rules="formRules"
                      :type="showPassword ? 'text' : 'password'"
                      name="input-10-1"
                      label="Пароль"
                      @click:append="showPassword = !showPassword"
                    ></v-text-field>
                    <v-btn
                      :disabled="!loginFormValid || formDisabled"
                      color="success"
                      class="mr-4" block
                      @click="loginFormSubmit"
                    >Войти</v-btn>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item key='registration'>
              <v-card color="basil" flat>
                <v-card-text>
                  <v-form
                    ref="registrationForm"
                    v-model="registrationFormValid"
                    lazy-validation
                  >
                    <v-text-field
                      v-model="registrationForm.name"
                      :disabled='formDisabled'
                      :rules="formRules"
                      label="ФИО"
                      required
                    ></v-text-field>
                    <v-text-field
                      v-model="registrationForm.username"
                      :disabled='formDisabled'
                      :rules="formRules"
                      label="Логин"
                      required
                    ></v-text-field>
                    <v-text-field
                      v-model="registrationForm.password"
                      :disabled='formDisabled'
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      :rules="formRules"
                      :type="showPassword ? 'text' : 'password'"
                      name="input-10-1"
                      label="Пароль"
                      @click:append="showPassword = !showPassword"
                    ></v-text-field>
                    <v-btn
                      :disabled="!registrationFormValid || formDisabled"
                      color="primary"
                      class="mr-4" block
                      @click="registrationFormSubmit"
                    >Зарегистрироваться</v-btn>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-col>
      </v-row>
    </v-container>
    <v-footer
      v-if="isAuthenticated"
      fixed
    >
      <v-container class="pa-0">
        <v-row justify="center">
          <v-col sm="6" style="padding: 24px 0">
            <div class="d-flex flex-row align-center">
              <v-text-field v-model="text" placeholder="Type Something" @keypress.enter="sendMessage"></v-text-field>
              <v-btn icon class="ml-4" @click="sendMessage"><v-icon>mdi-send</v-icon></v-btn>
            </div>
            <v-file-input
              v-model="file"
              show-size
              truncate-length="15"
            ></v-file-input>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: {
      tab: 'login',
      formDisabled: false,
      loginFormValid: true,
      loginForm: {
        username: null,
        password: null
      },
      registrationFormValid: true,
      registrationForm: {
        username: null,
        name: null,
        password: null
      },
      showPassword: false,
      formRules: [
        v => !!v || 'Field is required'
      ],
      isAuthenticated: false,
      jwtToken: null,
      userData: null,
      title: 'Nestjs Websockets Chat',
      text: '',
      file: null,
      messages: [],
      socket: null,
      flashBar: false,
      flashBarText: null
    },
    methods: {
      isAuthenticatedUser(){
        return new Promise((resolve, reject) => {
          if (this.isAuthenticated) {
            resolve()
          } else {
            const token = localStorage.getItem('JWT_TOKEN')
            if (!!token) {
              this.isAuthenticated = true
              this.jwtToken = token
              resolve()
            } else {
              reject()
            }
          }
        })
      },
      loginFormSubmit(){
        if (this.$refs.loginForm.validate()) {
          this.formDisabled = true
          axios.post('/api/auth/login', this.loginForm)
            .then(res => {
              if (res.data.access_token) {
                this.$refs.loginForm.reset()
                this.getFlash('Успешно!')
                localStorage.setItem('JWT_TOKEN', res.data.access_token)
                this.isAuthenticated = true
                this.jwtToken = res.data.access_token
                this.getUserData()
                this.updateTitle()
                this.toConnectServer()
              }
              this.formDisabled = false
            })
            .catch(this.handlingRequestError)
        }
      },
      getUserData(){
        try {
          this.userData = JSON.parse(atob(localStorage.getItem('JWT_TOKEN').split('.')[1]));
        } catch (e) {
          this.userData = null;
        }
      },
      registrationFormSubmit(){
        if (this.$refs.registrationForm.validate()) {
          this.formDisabled = true
          axios.post('/api/auth/registration', this.registrationForm)
            .then(res => {
              if (res.data.id) {
                this.$refs.registrationForm.reset()
                this.getFlash('Успешно!')
                this.tab = 'login'
              }
              this.formDisabled = false
            })
            .catch(this.handlingRequestError)
        }
      },
      handlingRequestError(error){
        this.formDisabled = false
        if (error.response) {
          if (error.response.data.messages && error.response.data.messages.length !== 0) {
            this.getFlash(error.response.data.messages[0])
          }
        }
      },
      getFlash(text){
        this.flashBarText = text
        this.flashBar = true
      },
      toConnectServer(){
        this.socket = io('http://localhost:3100', {
          path: '/ws'
        })
        this.socket.on('connectionSuccess', (message) => {
          console.log("connectionSuccess: ", message)
        })
        this.socket.on('updateList', message => {
          this.newMessage(message)
        })
        this.socket.on('newMessage', message => {
          this.newMessage(message)
        })
      },
      async sendMessage() {
        if(this.text.length > 0) {
          const message = {
            authorId: this.userData.id,
            text: this.text,
            fileUrl: null
          }
          if (!!this.file) {
            this.formDisabled = true
            const formData = new FormData();
            formData.append("file", this.file);
            await axios.post('/api/files/upload', formData, {
              headers: {
                'Content-Type': 'multipart/form-data',
                'Authorization': `Bearer ${this.jwtToken}`
              }
            }).then(res => {
              this.formDisabled = false
              message.fileUrl = res.data.url
            }).catch(this.handlingRequestError)
          }
          this.socket.emit('sendMessage', message)
          this.text = ''
          this.file = null
        }
      },
      newMessage(message) {
        if (Array.isArray(message)) {
          this.messages = message
        } else {
          this.messages.push(message)
        }
      },
      updateTitle(){
        if (this.userData.name) {
          this.title = `Здарова ${this.userData.name}!`
        }
      }
    },
    created() {
      this.isAuthenticatedUser()
        .then(() => {
          this.getUserData()
          this.updateTitle()
          this.toConnectServer()
        })
        .catch(() => {
          this.getFlash("Требуется авторизация")
        })
    }
  })
</script>
</body>
</html>
